[Unit]
Description=OpenConnect VPN - %i
Wants=network.target

[Service]
EnvironmentFile=/etc/openconnect/%i
ExecStart=/bin/sh -c ' \
  echo "'$PASSWORD'" | /usr/bin/openconnect \
  --passwd-on-stdin \
  --user='$USERNAME' \
  --authgroup='$AUTHGROUP' \
  --script=/etc/vpnc/vpnc-script \
    https://'$SERVER

KillSignal=SIGINT
