[Unit]
Description=Continuously synchronise X11 clipboards

[Service]
Type=forking
PIDFile=/tmp/clipsync.pid
ExecStart=/usr/bin/python %h/.config/systemd/scripts/clipsync.py
ExecStop=/usr/bin/python %h/.config/systemd/scripts/clipsync.py -k

[Install]
WantedBy=default.target
