[user]
  name = {{ user_full_name }}
[credential]
  helper = cache --timeout 3600
[core]
  excludesfile = /home/{{ user }}/.gitignore
[color]
  ui = auto
[push]
  default = simple
[alias]
  s = status
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  ll = log --decorate --pretty='%Cred%h%Creset - %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  me = !UN=$(git config user.name)&& git log --author="\"$UN\"" --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
